<html>

<p style="text-align: center"><br>
</p>

<h1 style="text-align: center">Welcome to #FullyAutomatedLuxuryCommunism on PNW!</h1>

<h4 class="text-light text-large" style="text-align: center">Make a request:</h4>

<p style="text-align: center;"><input placeholder="Nation ID" style="-moz-border-radius: 2px; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-border-radius: 2px; background: #DFDFDF; border: none; border-radius: 2px; color: #525252; height: 25px; line-height: 15px; margin-bottom: 16px; margin-right: 6px; margin-top: 2px; outline: 0 none; padding: 5px 0px 5px 5px; width: 70%;"></p>

<p style="text-align: center;"><input type="password" placeholder="#FALC Password" style="-moz-border-radius: 2px; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-border-radius: 2px; background: #DFDFDF; border: none; border-radius: 2px; color: #525252; height: 25px; line-height: 15px; margin-bottom: 16px; margin-right: 6px; margin-top: 2px; outline: 0 none; padding: 5px 0px 5px 5px; width: 70%;"></p>

<p style="text-align: center"><br>
<input type="submit" style="-moz-border-radius: 2px; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-border-radius: 2px; background: #EFEFEF; border: none; border-radius: 2px; color: #525252; height: 25px; line-height: 15px; margin-bottom: 16px; margin-right: 6px; margin-top: 2px; outline: 0 none; padding: 5px 0px 5px 5px; width: 70%;">
</p>

</html>
